# DATABASE settings
DATABASE_DRIVER="postgres"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USERNAME="practicum"
DATABASE_PASSWORD="12345"
DATABASE_NAME="practicum"

# LOGGER settings
# type dev / json / tskv
LOGGER_TYPE="json"

# SERVER settings
PORT="3000"

#PGADMIN settings
PGADMIN_DEFAULT_EMAIL=a.s.prokofyev1976@yandex.ru
PGADMIN_DEFAULT_PASSWORD=123456

# Domain (для локального тестирования используем localhost)
DOMAIN=localhost
